.wrapper {
    display: flex;
    flex-direction: column;
    width: var(--default-sidebar-width);
    padding: 20px 0px 26px 8px;
}

.sidebar-btn {
    margin-bottom: 8px;
}

.home-btn,
.follow-btn,
.live-btn {
    padding: 8px;
}

.sidebar-login {
    padding: 20px 8px 24px;
    position: relative;

    ::after {
        position: absolute;
        content: '';
        top: 0;
        right: 8px;
        left: 8px;
        width: calc(var(--default-sidebar-width) - 24px);
        height: 0.5px;
        background-color: rgba(22, 24, 35, 0.12);
        opacity: 0.1;
    }
    p {
        color: rgba(22, 24, 35, 0.5);
        font-size: 16px;
        line-height: 22px;
    }
}

.login-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 6px 8px;
    border: 1px solid rgba(254, 44, 85, 1);
    min-width: 164px;
    min-height: 48px;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.sidebar-account {
    padding: 16px 0;
    p {
        color: rgba(22, 24, 35, 0.75);
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        padding: 0 8px;
        margin-bottom: 8px;
    }
}
