.menu-list {
    width: 224px;
    min-height: 100px;
    margin-top: -6px;
    .menu-item {
        margin-left: 0px;
    }
}

.menu-popper {
    padding-bottom: 8px;
}
.menu-body {
    overflow-y: auto;
}

//Header-Menu
.header {
    position: relative;
    height: 50px;
    margin-top: -8px;
    cursor: pointer;
    flex-shrink: 0;
}
.back-btn {
    width: 50px;
    height: 100%;
    font-size: 18px;
    cursor: pointer;
    background-color: transparent;
}
.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
