.wrapper {
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;

    width: 100%;
    height: var(--default-layout-header-hight);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.content {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px 0 20px;
}

.search,
.search-result {
    width: 361px;
    display: none;
}

.search-result {
    margin-top: -2px;
}

.search-title {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);
    padding: 5px 12px;
}

.tab-account-search {
    padding-right: 8px;
}

.search {
    position: relative;
    display: flex;
    height: var(--search-height);
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: 92px;
    border: 1.5px solid transparent;
    padding-left: 16px;
    input {
        flex: 1;
        width: 292px;
        height: 100%;
        font-size: 1.6rem;
        font-weight: 400;
        background-color: transparent;
        caret-color: var(--primary);
        color: #45474f;
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    &::after {
        content: '';
        position: absolute;
        height: calc(var(--search-height) - (var(--search-top-spacer) * 2));
        width: 1px;
        right: var(--search-button-width);
        top: var(--search-top-spacer);
        background-color: rgba(22, 24, 35, 0.12);
    }
    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}

.clear {
    cursor: pointer;
}

.clear,
.loading {
    position: absolute;
    right: calc(var(--search-button-width) + 18px);
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: rgba(22, 24, 35, 0.34);
}
.search-btn {
    border-top-right-radius: 92px;
    border-bottom-right-radius: 92px;
    align-content: center;
    width: var(--search-button-width);
    line-height: 46px;
    height: 100%;
    font-size: 1.8rem;
    color: #828283;
    &:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.03);
    }
    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}

.action {
    display: flex;
    flex-direction: row;
}

.upload-btn {
    display: flex;
    align-items: center;
    min-width: 105px;
    height: 36px;
    padding: 0 16px;
    border: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 2px;
    &:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.upload-plus {
    font-size: 17px;
    margin-right: 8px;
}

.upload-title {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.login-btn {
    height: 36px;
    width: 100px;
    text-align: center;
    line-height: 36px;
    border-radius: 4px;
    border: none;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(254, 44, 85, 1);
    margin-left: 16px;
    font-size: 17px;
    &:hover {
        cursor: pointer;
        background: linear-gradient(
                0deg,
                rgba(0, 0, 0, 0.06),
                rgba(0, 0, 0, 0.06)
            ),
            #fe2c55;
    }
}

.more-btn {
    font-size: 18px;
    padding: 4px;
    margin-left: 16px;
    display: block;
    cursor: pointer;
    color: #161823;
}

.tab-more {
    position: relative;
    width: 223px;
    height: 186px;
    margin-top: -4px;
    right: 70px;
}

.tab-items {
    display: flex;
    flex-direction: column;
    list-style: none;
    cursor: pointer;
    padding-bottom: 8px;
}

.tab-item {
    padding: 10px 8px 10px 16px;
    display: flex;
    align-items: center;
    &:hover {
        width: 100%;
        background-color: rgba(22, 24, 35, 0.03);
        overflow: hidden;
    }
}

.tab-item-icon {
    color: rgba(22, 24, 35, 1);
}

.tab-item-title {
    margin-left: 6px;
    color: rgba(22, 24, 35, 1);
    font-size: 16px;
}
