.wrapper {
    display: flex;
    flex-direction: column;
    width: var(--default-sidebar-width);
    padding: 20px 0 26px 8px;
    height: auto;
    overflow: scroll;
}

.sidebar-login {
    padding: 20px 8px 24px;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        left: 8px;
        right: 8px;
        top: 0;
        height: 1px;
        background-color: rgba(22, 24, 35, 0.12);
        transform: scaleY(0.5);
    }
}

.title-login {
    color: #16182380;
    font-size: 16px;
    line-height: 22px;
}

.scroll {
    height: 154.058px;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, -1)
        scale(2.84049) translateZ(-1.84049px) translateZ(-2px);
}
